ENVIRONMENT=

GITHUB_PROXY='{
    "http": "",
    "https": ""
}'

SAUCENAO_PROXY='{
    "http": "",
    "https": ""
}'
SAUCENAO_API_KEY=

WOLFRAMALPHA_PROXY='{
    "http": "",
    "https": ""
}'
WOLFRAMALPHA_API_KEY=

SUPERUSERS=[]